* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}
.container {
    margin: 0 auto;
    max-width: 1140px;
}
.btn {
    padding: 21px 25px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.btn-primary {
    background-color: #F15B22;
    color: white;
    font-weight: 600;
    font-size: 20px;
} 
.btn-secondary {
    background-color: white;
    color: #F15B22;
    font-weight: 600;
    font-size: 20px;
}
.text-primary {
    color: #151414;
}
.text-secondary {
    color: #444343;
}

.header {
    background-image: url('../images/banner/banner1.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.banner {
    width: 46%;
    max-width: 525px;
    text-align: end;
    margin: 216px 230px 166px;
}
.banner__title {
    font-weight: 700;
    font-size: 4rem;
    margin-bottom: 24px;
}
.banner__text {
    line-height: 26px;
    margin-bottom: 24px;
}
.year {
    margin-top: 131px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 87px;
}

.year__content {
    width: 36%;
    max-width: 416px;
}
.year__title {
    margin-bottom: 24px;
    font-size: 40px;
    font-weight: 700;
}
.year__text {
    margin-bottom: 16px;
}
.year__items {
    line-height: 26px;
}
.year__list {
    list-style-type: none;
}
.fa-check {
    color: #16D887;
}

.plans {
    margin-top: 130px;
}
.plans__title {
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 55px;
}
.plans-container-card {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.plans-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.mindset {
    margin: 130px auto;
    background: linear-gradient(to right, rgba(238, 91, 34, 0.5), rgba(248, 191, 169, 0.5)), url('../images/watch.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 5px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.mindset__content {
    width: 40%;
    max-width: 459px;
    /* margin-left: 64px; */
    margin: 59px 0 59px 64px;
}
.mindset__title {
    margin-bottom: 24px;
    color: #FFFFFF;
}
.footer {
    background-color: #151414;
}
.footer__content{
    /* margin: 130px auto; */
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 130px 0;
}
.footer-left {
    width: 42%;
    max-width: 485px;
}
.footer__title {
    color: #F8F8F8;
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 20px;
}
.footer__text {
    color: #FFFFFF;
    margin-bottom: 20px;
}
.footer-right {
    width: 28%;
    max-width: 325px;
}
.footer-right__subscribe {
    font-weight: 600;
    font-size: 25px;
    color: #FFFFFF;
    margin-bottom: 31px;
}
.footer-right__email {
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 5px;
    padding: 5px 10px;
    background-color: transparent;
}